# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo

# VSCode
.vscode/
.vs/

# Rider
.idea/

# Logs
*.log

# Cache files
*.cache

# Test results
TestResults/

# DotCover
*.dcvr

# ASP.NET
wwwroot/

# Others
*.db
*.tgz
*.DS_Store
*.swp